<template>
	<div class="header-nav" :class="{active: $store.state.isOpen}">
		<div v-if="!$fetchState.pending" class="nav-container" :class="{active: $store.state.isOpen}">
			<headerMainNav :main-nav-data="mainNav" />
		</div>
	</div>
</template>

<script>

export default {
	name: 'HeaderNav',
	data() {
		return {
			mainNav: []
		}
	},
	async fetch() {
		await this.$axios
			.get(`/json/menus.json`)
			.then(res => {
				this.mainNav = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	}
}
</script>