<template>
	<header class="site-header">
		<div class="container">
			<div class="left-header">
				<button class=" nav-toggle" type="button" aria-label="Menu" @click="$store.commit('toggleSideBar')">
					<span class="bzi-bars bzi-1_2x" aria-hidden="true"></span>
				</button>
				<Logo />
			</div>
			<span class="bzi-github"></span>
		</div>
	</header>
</template>

<script>
export default {
	name: 'HeaderWeb'
}
</script>
