<template>
	<nav class="main-nav">
		<ul class="list-nostyle">
			<li v-for="(nav, i) in mainNavData" :key="i" class="main-nav__item">
				<nuxt-link class="header-link" :to="nav.url">{{ nav.title }}</nuxt-link>
			</li>
		</ul>
	</nav>
</template>

<script>
export default {
	name: 'MainNav',
	props: {
		mainNavData: {
			type: Array,
			default: null
		}
	}
}
</script>

<style lang="scss" scoped>
.main-nav {
	@media #{$medium} {
		& > ul {
			display: flex;
			flex-direction: column;
			margin-bottom: 64px;
		}
	}

	li {
		font-weight: 400;
		display: flex;
		align-items: center;
		// margin-left: 40px;
	}

	ul,
	li {
		height: 100%;
	}

	.nuxt-link-active {
		background-color: #e6e6e6;
		font-weight: 600;
		color: #4d4d4d;
	}

	@media screen and (max-width: 48em) {
		li {
			height: auto;
		}
	}
}
</style>
