html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
button,
input,
select,
textarea {
	color: $black;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1.5em 0 1em 0;
	padding: 0;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
	vertical-align: middle;
}

address {
	font-style: normal;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

figure {
	margin: 0 0 $space 0;
}

pre {
	overflow: auto;
}

canvas {
	vertical-align: middle;
}

.browsehappy {
	background: #ffd17d;
	border-bottom: solid 1px #ffcc6f;
	color: #222;
	font-size: 0.8em;
	margin: 0 0 0.2em;
	padding: 0.4em 0;
	text-align: center;
}

::-moz-selection {
	background: $selection_bg;
	color: $selection_color;
	text-shadow: none;
}

::selection {
	background: $selection_bg;
	color: $selection_color;
	text-shadow: none;
}

// Fix windows phone viewport bug - http://goo.gl/knRaIp
// ------------------------------------------------------------------------ //

@viewport {
	width: device-width;
}

// http://goo.gl/e0gJzS
// ------------------------------------------------------------------------ //

input[type='search'] {
	box-sizing: border-box;
}
