@import 'partials/normalize';
@import 'partials/variables';
@import 'partials/resets';
@import 'partials/helpers';
@import 'partials/print';

@import 'modules/modules';
@import 'plugins/vue-slick';
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

html {
	font: 400 16px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
	line-height: $base_line_height;

	@media #{$medium} {
		font-size: $base_font_size;
	}
}

body {
	// text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
	color: $black80;
	background-color: #fff;
}

a {
	color: $link;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $link_hover;
	}
}

.color-inherit {
	&:hover,
	&:focus {
		color: inherit !important;
	}
}

.block {
	margin-bottom: $space;
}

.block-half {
	margin-bottom: ($space / 2);
}

.container {
	width: 92%;
	max-width: 960px;
	margin: 0 auto;

	@media #{$medium} {
		width: 94%;
	}

	@media #{$extra_large} {
		max-width: 1280px;
	}
}

.container--small {
	max-width: 450px;

	@media #{$extra_large} {
		max-width: 450px;
	}
}

.site-header {
	position: fixed;
	z-index: 4;
	top: 0;
	right: 0;
	left: 0;
	box-sizing: border-box;
	height: 54.4px;
	box-shadow: 0px 0px 10px #333333;

	& > .container {
		min-width: 100%;
		min-height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0;
		padding-left: 8px;
		background-color: #ff6700;

		.bzi-github{
			margin-right: 16px;
			font-size: 1.5em;
			color: white;
		}
	}

	&.transparent-header {
		background: transparent;

		.header-link {
			color: #fff;

			&:hover {
				color: $black20;
			}
		}
	}

	.left-header {
		display: flex;
		flex-direction: row;
		

		.nav-toggle {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 54.4px;
			width: 54px;
			margin-left: -8px;
			background-color: #333;
			color: white;
			border: none;
			font-size: 0.875em;

			@media screen and (min-width: 48em) {
				display: none;
			}
		}
	}
}

.site-main, .site-footer {
	z-index: 1;
	color: #4d4d4d;
	margin-left: 215px;
    padding-top: 120px;

	&.landing {
		padding-top: 0;
	}

	.container {
		max-width: 960px;
        margin: auto;
        font: 400 16px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
	}

	&.header-overlap {
		margin-top: 0;
	}

	@media screen and (max-width: 48em) {
		padding-top: 70px;
		margin: auto;
	}
}

.site-footer {
	padding-top: 0;
}

.page-enter-active,
.page-leave-active {
	opacity: 1;
	transition: opacity 0.2s;
	will-change: opacity;
}

.page-enter,
.page-leave-to {
	opacity: 0;
}

code {
	font-family: monospace;
	font-size: 1em;
	display: block;
	overflow-x: auto;
	background: #efecf4;
	color: #585260;
	padding: 0.5em;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.6;

	&.shell.hljs {

		font-size: 1em;
	}

	.html-tag {
		color: #be4678;
	}

	.attr-value {
		color: #2a9292;
	}
}