<template>
	<div class="logo">
		<nuxt-link to="/" class="site-logo">
			<img
				src="~assets/img/baze-flat-icon.png"
				alt=""
				class="suitbaze-logo"
				width="125"
				height="125"
			/>
			<p class="logo-type">Suitbaze</p>
		</nuxt-link>
	</div>
</template>

<style lang="scss">
.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 12px;

	.site-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		.suitbaze-logo {
			width: 35px;
			height: 35px;

			@media screen and (max-width: 48em) {
				width: 30px;
				height: 30px;
			}
		}
		.logo-type {
			font-weight: 600;
			font-size: 1.728em;
			margin: 0;
			font-family: 'Fira Mono';
			color: white;

			@media screen and (max-width: 48em) {
				font-size: 1.2em;
			}
		}
	}
}
</style>
