<template>
	<div class="pokemon-card">
        <template v-if="$fetchState.pending">
            <div class="pokemon-image">
                <img src="" alt="">
            </div>
            <p class="pokemon-name">Loading Name</p>
            <div class="pokemon-types">
                <p>Type: </p>
                <ul>
                    <li>Loading Types</li>   
                </ul>
            </div>
        </template>
        <p v-else-if="$fetchState.error">Terjadi kesalahan</p>
        <template v-else-if="!$fetchState.pending">
            <div class="pokemon-image">
                <img :src="pokemon.sprites.front_default" alt="">
            </div>
            <p class="pokemon-name">{{ pokemon.name }}</p>
            <div class="pokemon-types">
                <p>Type: </p>
                <ul>
                    <li v-for="types of pokemon.types" :id="pokemon.url" :key="types.id">{{ types.type.name }}</li>   
                </ul>
            </div>
        </template>
	</div>
</template>

<script>
export default {
    props: {
        url: {
            type: String,
            default: ''
        }
    },
    data() {
      return {
        pokemon: null
      }
    },
    async fetch() {
        await this.$axios
        .get(this.$props.url)
        .then(res => {
			this.pokemon = res.data;
		})
        .catch(error => {
            const errData = error.response?.data
            const errMessage =
                error.response.data?.message || error.response.statusText
            if (errData.status === 404 || error.response.status === 404)
                this.$nuxt.error(this.$catch404)
            else {
                this.$nuxt.error(this.$catch500)
                const consoleError = new Error(errMessage)
                consoleError.code = errData?.status || error.response.status
                throw consoleError
            }
        })
	}
}
</script>

<style lang="scss" scoped>
.pokemon-card {

    border-radius: 8px;
    .pokemon-image {
        height: 96px;
        background-color: $light-grey;
        width: 100%;
        text-align: center;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .pokemon-name {
        font-size: 1.5em;
        font-weight: bold;
        background-color: $light-grey;
        padding: 16px 16px;
        padding-top: 0;
        margin-bottom: 0;

        &::first-letter{
            text-transform: uppercase;   
        }
    }
    .pokemon-types {
        padding: 16px;

        ul {
            display: flex;
            gap: 4px;
            padding-left: 0;
            margin-bottom: 0;

            li {
                font-weight: 600;
                list-style: none;
                color: #ffcb05;
                border: 2px solid #ffcb05;
                // background-color: #ffcb05;
                border-radius: 4px;
                padding: 4px 8px;
            }
        }
    }
}
</style>