<template>
    <div class="loader-container">
        <div class="loader"></div>
    </div>
</template>

<style lang="scss" scoped>

.loader-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ffcb05;
  width: 120px;
  height: 120px;
  animation: spin .8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

</style>