.alert {
    padding: 8px 16px;
    border: 1px solid;
    margin: 15px 0;
    line-height: 1.6;
    background-color: #f0f0f0;
    box-sizing: border-box;
    color: #4d4d4d;
}

.alert--popup {

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 15%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 4;
    
    .alert--popup-content {
        width: 80%;
        margin: auto;
        
        span {
            font-weight: 600;
            float: right;
        }
    }
}

.alert--close {
    cursor: pointer;
}

@mixin alertStyle($bg, $shade: dark) {
    @extend .alert;
    color: $bg;
    background-color: lighten($bg, 32);
    border-color: $bg;
    border-style: solid;
    border-width: 1px;

    @if $shade == dark {
        border-color: $bg;
    } @else {
        background-color: $bg;
        border-color: darken($bg, 20);
        color: darken($bg, 20);
    }
}

@each $state, $color in $palettes {
    .alert--#{$state} {
        @include alertStyle($color);
    }
}

@each $state, $color in $light-palettes {
    .alert--#{$state} {
        @include alertStyle($color, light);
    }
}