.btn {
    display: inline-block;
    font-family: inherit;
    line-height: $base_line_height;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    color: #fff;
	padding: 8px 24px;
	cursor: pointer;
	border-radius: 0;
    text-shadow: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:focus {
        outline: none;
    }

    &[disabled],
    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
    }

    @media #{$medium} {
        // padding: 8px 24px;
    }
}


@mixin btnStyle($bg, $color: #fff, $shade: dark) {
    @extend .btn;
    color: white;
    background-color: $bg;
    border-color: $bg;
    border-style: solid;
    border-width: 1px;

    &:hover {
        color: $color;
        box-shadow: none;
        @if $shade == dark {
            background: lighten($bg, 10%);
        } @else if $shade == light {
            background-color: darken($bg, 9%);
        }
    }

    &[disabled],
    &.disabled {
        opacity: .6;
    }

    @if $shade == dark {
        color: #fff;
    } @else {
        color: #333;
        border-color: darken($bg, 9%);
    }
}

@mixin btnGhost($bg, $color: #fff, $shade: dark) {
    @extend .btn;
    color: $bg;
    background: transparent;
    border-color: $color;
    border-style: solid;
    border-width: 1px;

    &.btn--small {
        padding: 4px 12px;
    }

    @if $shade == dark {
        border-color: $bg;
    } @else {
        border-color: darken($bg, 10%);
        color: darken($bg, 10%);
    }

    &:hover {
        color: #fff;
        box-shadow: none;
        @if $shade == dark {
            background-color: $bg;
        } @else if $shade == light {
            background-color: $bg;
            color: #333;
            text-shadow: none;
        }
    }

    &[disabled],
    &.disabled {
        opacity: .6;
    }
}

@mixin btnFlat($bg, $color: #fff, $shade: dark) {
    @extend .btn;

    color: $bg;
    background-color: transparent;
    border: none;

    &:hover {
        background-color: #e6e6e6;

        @if $bg == #fff {
            color: $bg;
        }
    }

    @if $shade == dark {
        border-color: $bg;
    } @else if $bg == #fff {
        color: darken($bg, 10%);
    } @else {
        border-color: darken($bg, 10%);
        color: $bg;
    }

}

.btn--block {
    width: 100%;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

@each $state, $color in $palettes {
    .btn--#{$state} {
        @include btnStyle($color);
    }

    .btn--ghost-#{$state} {
        @include btnGhost($color);
    }

    .btn--flat-#{$state} {
        @include btnFlat($color)
    }
}

@each $state, $color in $light-palettes {
    .btn--#{$state} {
        @include btnStyle($color, $black80, light);
    }

    .btn--ghost-#{$state} {
        @include btnGhost($color, $black80, light);
    }

    .btn--flat-#{$state} {
        @include btnFlat($color, $black80, light)
    }
}

.btn--icon {
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    padding: 0;
}

.btn--small {
    padding: 4px 12px;
    font-size: 15px;

    &.btn--icon {
        padding: 0;
        box-sizing: border-box;
        width: 34px;
        height: 34px;
    }
}

.btn--large {
    padding: 10px 28px;
    font-size: 20px;

    &.btn--icon {
        padding: 0;
        box-sizing: border-box;
        width: 54px;
        height: 54px;
        font-size: 1.33333em;

        i {
            font-size: .875 em;
        }
    }
}

.btn--transparent {
    @include btnGhost($primary);
    border-color: transparent;
}

.btn--pils {
    border-radius: 22px;
}

.btn--circle {
    width: 42px;
    height: 42px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid $primary;
    background-color: $primary;
    color: #fff;

    &:hover {
        background-color: lighten($primary, 8%);
    }
    &:focus {
        outline: none;
    }
}

.btn--circle-ghost {
    border: 1px solid $black20;
    background-color: transparent;
    color: $black40;

    &:hover {
        background-color: lighten($primary, 8%);
        color: #fff;
        border-color: $primary;
    }
}

.btn--dashed {
    @include btnGhost($dark-grey);
    border-style: dashed;
}

.btn--outline {
    @include btnGhost($dark-grey);
}
 