.card {
  display: flex;
  flex: 1 0 0%;
  flex-direction: column;
  min-width: 0;
  border: 1px solid black;
  margin-left: 12px;

  .card--header, .card--footer {
    padding: 8px 16px;
    line-height: 1.6;
    background-color: darken($white, 15);
  }

  .card--header {
    border-bottom: 1px solid black;
  }

  .card-footer {
    border-top: 1 px solid black;
  }

  .card--image {
    width: 100%;
  }

  .card--body {
    flex: 1 1 auto;
    padding: 8px 16px;
  }
}

.card-group {
  display: flex;
  flex-direction: row;
}

.card--primary {
  @extend .card;

  border: 1px solid darken($primary, 20);
  background-color: $primary;
  color: $white;

  .card--header {
    background-color: darken($primary, 15);
    border-bottom: 1px solid darken($primary, 30);
  }

  .card--footer {
    background-color: darken($primary, 15);
    border-top: 1px solid darken($primary, 30);
  }
}

.card--secondary {
  @extend .card;

  border: 1px solid darken($secondary, 20);
  background-color: $secondary;
  color: $white;

  .card--header {
    background-color: darken($secondary, 15);
    border-bottom: 1px solid darken($secondary, 30);
  }

  .card--footer {
    background-color: darken($secondary, 15);
    border-top: 1px solid darken($secondary, 30);
  }

}

.card--light-grey {
  @extend .card;

  border: 1px solid darken($light-grey, 30);
  background-color: $light-grey;
  color: $black;

  .card--header {
    background-color: darken($light-grey, 15);
    border-bottom: 1px solid darken($light-grey, 30);
  }

  .card--footer {
    background-color: darken($light-grey, 15);
    border-top: 1px solid darken($light-grey, 30);
  }
}