// footer {

//     &.container.mb-32 {
//         margin: 0;
//         margin-left: 215px;

//         p {
//             max-width: 960px;
//             margin: auto;
//             padding-left: 16px;
//         }
//     }
// }