.site-main {
	&.landing {
        font-family: $font_main;
		background-color: #555;
		margin-top: 0;
		color: white;
		height: 100vh;
        margin-left: 0;
	}

	.landing-header {
		display: flex;
		align-items: center;
		gap: 16px;
		padding: 20px 50px;
		margin-bottom: 0.69444em;

        @media screen and (max-width: 48em) {
            padding: 20px;
        }
        
	}

	.landing-header > img {
		width: 35px;
		height: 35px;
	}

	.landing-header > p {
		font-weight: 700;
		font-size: 1.44em;
		line-height: 1.11111em;
		margin: 0;
	}

	.landing-main {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -55%);

		img {
			width: 125px;
			height: auto;
			margin: 25px;
		}
		
		p {
			font-size: 1.728em;
			line-height: 1.38889em;
			margin: 0 0 36px 0;
		}

		.buttons-wrapper {
			display: flex;
			justify-content: center;
			gap: 25px;

            @media screen and (max-width: 48em) {
                flex-direction: column;
                width: 100%;
                gap: 0;
                align-items: center;
            }
		}

		.buttons-wrapper > a {
			text-transform: uppercase;
			padding: 8px 24px;
			border-radius: 0;
			color: white;
			margin-bottom: 16px;
			cursor: pointer;
			width: 232.16px;

            @media screen and (max-width: 48em) {
                width: 100%;
            }

			&:first-child {
				background-color: #ff6700;
				border: 1px solid #ff6700;

				&:hover {
					filter: brightness(1.2);
				}
			}

			&:last-child {
				background: transparent;
				border: 1px solid #e8e8e8;
				color: #e8e8e8;

				&:hover {
					background-color: #e8e8e8;
					color: #000;
				}
			}
		}
	}

	.landing-footer {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		font: 400 16px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
		font-size: 14px;
		line-height: 1.6;
		padding: 20px 0;
        text-align: center;

		span:nth-child(1) {
			margin-right: 16px;
		}
		
		span:last-child {
			margin-left: 16px;
		}
	}
}