
.media {
    display: flex;
    align-items: flex-start;
    line-height: 1.6;
}

.media-figure {
    margin-right: ($space / 2);

    img {
        max-width: 100%;
        vertical-align: middle;
        border-style: none;
        overflow: clip;
    }
}

.media-content {
    flex: 1;
    min-width: 0;
}
