.header-nav {
	padding-top: 4px;
	font: 400 16px -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Helvetica Neue', Arial, sans-serif;
	position: fixed;
	top: 54.4px;
	height: 100vh;
	background-color: white;
	overflow-y: scroll;
	z-index: 3;
	transition: all 0.2s ease-in-out;
	

	@media screen and (max-width: 48em) {
		left: -231px;
		&.active {
			transform: translateX(231px);
		}
	}
	
	/* width */
	::-webkit-scrollbar {
	  width: 10px;
	}
	
	/* Track */
	::-webkit-scrollbar-track {
	  background: #f1f1f1; 
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
	  background: #888;
	  border-radius: 8px;
	}
	
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: #555; 
	}

	@media screen and (max-width: 48em) {
        // background-color: red;
        // display: none;
    }
}


.nav-toggle {
	@media screen and (min-width: $medium) {
		display: none;
	}
}

.nav-container {
	display: flex;
	height: 100%;
	width: 214.2px;
	margin-bottom: 216px;
}

.header-link {
	color: #4d4d4d;
	display: flex;
	padding: 8px;
	padding-left: 24px;
	width: 214.2px;
	cursor: pointer;

	&:hover,
	&:focus,
	&.is-active {
		color: #000;
	}

	&.is-active {
		border-right-color: $link;
		font-weight: 600;
		background-color: #e6e6e6;
	}

	@media #{$medium} {

		
		&.is-active {
			border-right-color: transparent;
			border-bottom-color: $link;
		}
	}
}

.sidebar--overlay {

	@media screen and (max-width: 48em) {
		position: fixed;
		top: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		overflow: auto;
		display: none;
		
		&.active {
			display: block;
		}
	}
}