.tabs__bar {
    padding-left: 0;
    margin-bottom: 0;
    background: transparent;
    overflow: auto;
    white-space: nowrap;
    line-height: 1.6em;

    .tabs__nav {
        display: inline-block;
        padding: 5px 20px;
        text-align: center;
        cursor: pointer;

        &.is-active {
            border-bottom: 2px solid $primary;
            color: $primary;
        }
    }
}

.tabs__content {

    display: block;

    .tabs__item {
        display: none;
        line-height: 1.6;

        &.is-active {
            display: block;
        }

    }
}

.tabs__bar--justify {
    @extend .tabs__bar;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: auto;
    white-space: nowrap;

    .tabs__nav {
        flex: auto;
    }
}