<template>
	<div id="app" class="sticky-footer-container">
		<div class="sticky-footer-container-item">
			<Header />
			<HeaderNav />
			<div
				class="sidebar--overlay"
				:class="{ active: $store.state.isOpen }"
				@click="$store.commit('toggleSideBar')"
			></div>
		</div>
		<div class="sticky-footer-container-item --pushed">
			<nuxt />
		</div>
		<div class="sticky-footer-container-item">
			<Footer />
		</div>
	</div>
</template>

<script>
export default {
	name: 'DefaultLayout',
	head() {
		return {
			link: [
				{
					rel: 'canonical',
					href: process.env.BASE_URL + this.$route.path
				}
			],
			...this.$SEOMeta({
				metaTitle: 'Suit Baze Documentation'
			})
		}
	}
}
</script>
