<template>
    <div id="app" class="sticky-footer-container">
      <Nuxt />
    </div>
</template>

<script>
export default {
  name: 'Splash',
	head() {
		return {
			link: [
				{
					rel: 'canonical',
					href: process.env.BASE_URL + this.$route.path
				}
			]
		}
	}
}
</script>