<template>
    <main class="site-main">
        <div class="container">
            <h2 class="text-suitmedia font-heading">Alert</h2>
            <div class="alert">Alert default</div>
            <div class="alert--primary">Alert primary</div>
            <div class="alert--secondary">Alert secondary</div>
            <div class="alert--warning">Alert warning</div>
            <div class="alert--danger">Alert danger</div>
            <div class="alert--black">Alert black</div>
            <div class="alert--light-grey">Alert light-grey</div>
            <div class="alert--white">Alert white</div>

            <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"alert"</span>&gt;</span>Alert default<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"alert--primary"</span>&gt;</span>Alert primary<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"alert--secondary"</span>&gt;</span>Alert secondary<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"alert--warning"</span>&gt;</span>Alert warning<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"alert--danger"</span>&gt;</span>Alert danger<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"alert--black"</span>&gt;</span>Alert black<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"alert--light-grey"</span>&gt;</span>Alert light-grey<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"alert--white"</span>&gt;</span>Alert white<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span></code></pre>
            </div>

            <hr>
            
            <h2 class="text-suitmedia font-heading">Alert Box</h2>
            <button class="btn--primary js-trigger-alert" data-alert="#alert1" @click="showPopUp($event)">Alert 1</button>
            <button class="btn--primary js-trigger-alert" data-alert="#alert2" @click="showPopUp($event)">Alert 2</button>

            <div id="alert1" class="alert--popup" @click="closeOutsidePopUp($event)">
                <div class="alert--primary alert--popup-content">
                    <span class="alert--close js-alert-close" @click="closePopUp($event)"><span class="bzi-close"></span></span> <h4>Lorem Ipsum!</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <hr>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui obcaecati tempora.
                    Quod, nesciunt culpa sunt sit itaque voluptate molestiae in quia quos quam tempora sequi illo molestias? Rerum, sit?</p>
                </div>
            </div>

            <div id="alert2" class="alert--popup" @click="closeOutsidePopUp($event)">
                <div class="alert--danger alert--popup-content" >
                    <span class="alert--close js-alert-close" @click="closePopUp($event)"><span class="bzi-close"></span></span> <h4>Number 2</h4>
                    <p>Test Number 2</p>
                </div>
            </div>

            <div class="text-size14">
                <pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--primary js-trigger-alert"</span> <span class="tag-attr">data-alert</span>=<span class="attr-value">"#alert1"</span>&gt;</span>Alert 1<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--primary js-trigger-alert"</span> <span class="tag-attr">data-alert</span>=<span class="attr-value">"#alert2"</span>&gt;</span>Alert 2<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>

<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"alert--popup"</span> <span class="tag-attr">id</span>=<span class="attr-value">"alert1"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"alert--primary alert--popup-content"</span> &gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">span</span> <span class="tag-attr">class</span>=<span class="attr-value">"alert--close js-alert-close"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-times"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">span</span>&gt;</span> <span class="html-tag">&lt;<span class="tag-name">h4</span>&gt;</span>Lorem Ipsum!<span class="html-tag">&lt;/<span class="tag-name">h4</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">hr</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">p</span> <span class="tag-attr">class</span>=<span class="attr-value">"mb-0"</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui obcaecati tempora.
        Quod, nesciunt culpa sunt sit itaque voluptate molestiae in quia quos quam tempora sequi illo molestias? Rerum, sit?<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>

<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"alert--popup"</span> <span class="tag-attr">id</span>=<span class="attr-value">"alert2"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"alert--danger alert--popup-content"</span> &gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">span</span> <span class="tag-attr">class</span>=<span class="attr-value">"alert--close js-alert-close"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-times"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">span</span>&gt;</span> <span class="html-tag">&lt;<span class="tag-name">h4</span>&gt;</span>Number 2<span class="html-tag">&lt;/<span class="tag-name">h4</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>Test Number 2<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span></code></pre>
            </div>

            <hr>
        </div>
    </main>
</template>

<script>
export default {
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Alert',
				description: 'Alert Page'
			}
		})
	},
    methods: {
        showPopUp(event) {
            this.target = event.currentTarget.dataset.alert.substring(1);
            document.getElementById(this.target).style.display = 'block'
        },
        closeOutsidePopUp(event) {
            if(event.target.contains(event.currentTarget)) {
                document.getElementById(event.currentTarget.id).style.display = 'none'
            }
        },
        closePopUp(event) {
            const parent = event.target.parentNode.parentNode.parentNode
            document.getElementById(parent.id).style.display = 'none'
        }
    }
}
</script>