<template>
    <main class="site-main">
        <div class="container">
            <h2 class="text-suitmedia font-heading">Buttons</h2>
            <p>
                    <button class="btn--primary">Button Color</button>
                    <button class="btn--ghost-primary">Button Color</button>
                    <button class="btn--flat-primary">Button Color</button>
            </p>
            <p>
                    <button class="btn--secondary">Button Color</button>
                    <button class="btn--ghost-secondary">Button Color</button>
                    <button class="btn--flat-secondary">Button Color</button>
            </p>
            <p>
                    <button class="btn--warning">Button Color</button>
                    <button class="btn--ghost-warning">Button Color</button>
                    <button class="btn--flat-warning">Button Color</button>
            </p>
            <p>
                    <button class="btn--danger">Button Color</button>
                    <button class="btn--ghost-danger">Button Color</button>
                    <button class="btn--flat-danger">Button Color</button>
            </p>
            <p>
                    <button class="btn--black">Button Color</button>
                    <button class="btn--ghost-black">Button Color</button>
                    <button class="btn--flat-black">Button Color</button>
            </p>
            <p>
                    <button class="btn--light-grey">Button Color</button>
                    <button class="btn--ghost-light-grey">Button Color</button>
                    <button class="btn--flat-light-grey">Button Color</button>
            </p>
            <p>
                    <button class="btn--white">Button Color</button>
                    <button class="btn--ghost-white">Button Color</button>
                    <button class="btn--flat-white">Button Color</button>
            </p>

            <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--primary"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--ghost-primary"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--flat-primary"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--secondary"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--ghost-secondary"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--flat-secondary"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--warning"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--ghost-warning"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--flat-warning"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--danger"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--ghost-danger"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--flat-danger"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--black"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--ghost-black"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--flat-black"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--light-grey"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--ghost-light-grey"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--flat-light-grey"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--white"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--ghost-white"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--flat-white"</span>&gt;</span>Button Color<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span></code></pre>
            </div>

            <hr>

            <h2 class="text-suitmedia font-heading">Button Sizing</h2>
            <p>
                <button class="btn--primary btn--small">Small Button</button>
                <button class="btn--ghost-primary btn--small">Small Button</button>
                <button class="btn--flat-primary btn--small">Small Button</button>
            </p>
            <p>
                <button class="btn--primary">Normal Button</button>
                <button class="btn--ghost-primary">Normal Button</button>
                <button class="btn--flat-primary">Normal Button</button>
            </p>
            <p>
                <button class="btn--primary btn--large">Large Button</button>
                <button class="btn--ghost-primary btn--large">Large Button</button>
                <button class="btn--flat-primary btn--large">Large Button</button>
            </p>

            <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--primary btn--small"</span>&gt;</span>Small Button<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--ghost-primary btn--small"</span>&gt;</span>Small Button<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--flat-primary btn--small"</span>&gt;</span>Small Button<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--primary"</span>&gt;</span>Normal Button<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--ghost-primary"</span>&gt;</span>Normal Button<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--flat-primary"</span>&gt;</span>Normal Button<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--primary btn--large"</span>&gt;</span>Large Button<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--ghost-primary btn--large"</span>&gt;</span>Large Button<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--flat-primary btn--large"</span>&gt;</span>Large Button<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span></code></pre>
            </div>

            <hr>
            
            <h2 class="text-suitmedia font-heading">Icon-only Buttons</h2>
            <p>
                <button class="btn--primary btn--small btn--icon">
                    <i class="bzi-search fa-sm"></i>
                </button>
                <button class="btn--ghost-black btn--small btn--icon">
                    <i class="bzi-cross fa-sm"></i>
                </button>
                <button class="btn--flat-light-grey btn--small btn--icon">
                    <i class="bzi-user fa-sm"></i>
                </button>
            </p>
            <p>
                <button class="btn--primary btn--icon">
                    <i class="bzi-user"></i>
                </button>
                <button class="btn--ghost-black btn--icon">
                    <i class="bzi-search"></i>
                </button>
                <button class="btn--flat-light-grey btn--icon">
                    <i class="bzi-cross"></i>
                </button>
            </p>
            <p>
                <button class="btn--primary btn--large btn--icon">
                    <i class="bzi-cross fa-lg"></i>
                </button>
                <button class="btn--ghost-black btn--large btn--icon">
                    <i class="bzi-user fa-lg"></i>
                </button>
                <button class="btn--flat-light-grey btn--large btn--icon">
                    <i class="bzi-search fa-lg"></i>
                </button>
            </p>

            <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--primary btn--small btn--icon"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-search fa-sm"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--ghost-black btn--small btn--icon"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-times fa-sm"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--flat-light-grey btn--small btn--icon"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-user fa-sm"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--primary btn--icon"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-user"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--ghost-black btn--icon"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-search"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--flat-light-grey btn--icon"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-times"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--primary btn--large btn--icon"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-times fa-lg"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--ghost-black btn--large btn--icon"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-user fa-lg"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--flat-light-grey btn--large btn--icon"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-search fa-lg"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span></code></pre>
            </div>

            <hr>
            
            <h2 class="text-suitmedia font-heading">Icon + Text Buttons</h2>
            <p>
                <button class="btn--primary btn--small">
                    Search <i class="bzi-search"></i>
                </button>
                <button class="btn--ghost-black btn--small">
                    <i class="bzi-cross"></i> Cancel
                </button>
                <button class="btn--flat-light-grey btn--small">
                    Profile <i class="bzi-user"></i>
                </button>
            </p>
            <p>
                <button class="btn--primary">
                    <i class="bzi-user"></i> Profile
                </button>
                <button class="btn--ghost-black">
                    Search <i class="bzi-search"></i>
                </button>
                <button class="btn--flat-light-grey">
                    <i class="bzi-cross"></i> Cancel
                </button>
            </p>
            <p>
                <button class="btn--primary btn--large">
                    Cancel <i class="bzi-cross"></i>
                </button>
                <button class="btn--ghost-black btn--large">
                    <i class="bzi-user"></i> Profile
                </button>
                <button class="btn--flat-light-grey btn--large">
                    <i class="bzi-search"></i> Search
                </button>
            </p>

            <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--primary btn--small"</span>&gt;</span>
        Search <span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-search"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--ghost-black btn--small"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-times"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span> Cancel
    <span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--flat-light-grey btn--small"</span>&gt;</span>
        Profile <span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-user"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--primary"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-user"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span> Profile
    <span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--ghost-black"</span>&gt;</span>
        Search <span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-search"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--flat-light-grey"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-times"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span> Cancel
    <span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--primary btn--large"</span>&gt;</span>
        Cancel <span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-times"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--ghost-black btn--large"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-user"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span> Profile
    <span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--flat-light-grey btn--large"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-search"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span> Search
    <span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span></code></pre>
            </div>

            <hr>
        </div>
    </main>
</template>

<script>
export default {
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Buttons',
				description: 'Buttons Page'
			}
		})
	}
}
</script>
