<template>
    <main class="site-main">
        <div class="container">
            <h2 class="text-suitmedia font-heading">Flex Card</h2>
            <div class="card-group">
                <div class="card--primary mb-12">
                    <div class="card--header">
                        Card header
                    </div>
                    <img class="card--image" src="~assets/img/apple-icon.png" alt="">
                    <div class="card--body">
                        <h5>Card</h5>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quia consectetur quibusdam repudiandae!</p>
                    </div>
                    <div class="card--footer">
                        Card footer
                    </div>
                </div>
                <div class="card--secondary mb-12">
                    <div class="card--header">
                        Card header
                    </div>
                    <img class="card--image" src="~assets/img/apple-icon.png" alt="">
                    <div class="card--body">
                        <h5>Card</h5>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="card--footer">
                        Card footer
                    </div>
                </div>
                <div class="card--light-grey mb-12">
                    <div class="card--header">
                        Card header
                    </div>
                    <img class="card--image" src="~assets/img/apple-icon.png" alt="">
                    <div class="card--body">
                        <h5>Card</h5>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam,
                        architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!</p>
                    </div>
                </div>
                <div class="card mb-12">
                    <img class="card--image" src="~assets/img/apple-icon.png" alt="">
                    <div class="card--body">
                        <h5>Card</h5>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam,
                        architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!</p>
                    </div>
                    <div class="card--footer">
                        Card footer
                    </div>
                </div>

            </div>
            <div class="text-size14">
                <pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"card-group"</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"card--primary mb-12"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"card--header"</span>&gt;</span>
        Card header
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">img</span> <span class="html-attr">class</span>=<span class="attr-value">"card--image"</span> <span class="html-attr">src</span>=<span class="attr-value">"..."</span> <span class="html-attr">alt</span>=<span class="attr-value">""</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"card--body"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">h5</span>&gt;</span>Card<span class="html-tag">&lt;/<span class="tag-name">h5</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">p</span> <span class="html-attr">class</span>=<span class="attr-value">"mb-0"</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quia consectetur quibusdam repudiandae!<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"card--footer"</span>&gt;</span>
        Card footer
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"card--secondary mb-12"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"card--header"</span>&gt;</span>
        Card header
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">img</span> <span class="html-attr">class</span>=<span class="attr-value">"card--image"</span> <span class="html-attr">src</span>=<span class="attr-value">"..."</span> <span class="html-attr">alt</span>=<span class="attr-value">""</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"card--body"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">h5</span>&gt;</span>Card<span class="html-tag">&lt;/<span class="tag-name">h5</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">p</span> <span class="html-attr">class</span>=<span class="attr-value">"mb-0"</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"card--footer"</span>&gt;</span>
        Card footer
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"card--light-grey mb-12"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"card--header"</span>&gt;</span>
        Card header
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">img</span> <span class="html-attr">class</span>=<span class="attr-value">"card--image"</span> <span class="html-attr">src</span>=<span class="attr-value">"..."</span> <span class="html-attr">alt</span>=<span class="attr-value">""</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"card--body"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">h5</span>&gt;</span>Card<span class="html-tag">&lt;/<span class="tag-name">h5</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">p</span> <span class="html-attr">class</span>=<span class="attr-value">"mb-0"</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam,
        architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"card mb-12"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">img</span> <span class="html-attr">class</span>=<span class="attr-value">"card--image"</span> <span class="html-attr">src</span>=<span class="attr-value">"..."</span> <span class="html-attr">alt</span>=<span class="attr-value">""</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"card--body"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">h5</span>&gt;</span>Card<span class="html-tag">&lt;/<span class="tag-name">h5</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">p</span> <span class="html-attr">class</span>=<span class="attr-value">"mb-0"</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam,
        architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"card--footer"</span>&gt;</span>
        Card footer
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span></code></pre>
            </div>

            <hr>

            <h2 class="text-suitmedia font-heading">Baze Grid Card</h2>
            <p v-if="$fetchState.pending">Memuat data...</p>
            <p v-else-if="$fetchState.error">Terjadi kesalahan</p>
            <div class="bzg bzg--flex card-group js-card" data-card="static/json/cards.json">
                <div v-for="card of cards" :id="card.id" :key="card.id"  class="bzg_c mb-24" data-col="s12,m6,l3">
                    <div class="card--primary">
                        <div class="card--header">
                            {{ card.header }}
                        </div>
                        <a :href="card.url"><img class="card--image" :src="card.image" alt=""></a>
                        <div class="card--body">
                            <h5>{{ card.title }}</h5>
                            <p class="text-right">{{ card.date }}</p>
                            <p class="mb-0">{{ card.description }}</p>
                        </div>
                        <div class="card--footer">
                            {{ card.footer }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-size14">
                <pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"bzg bzg--flex card-group js-card"</span> <span class="html-attr">data-card</span>=<span class="attr-value">"dev/data/data.json"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"bzg_c mb-24"</span> <span class="html-attr">id</span>=<span class="attr-value">"..."</span> <span class="html-attr">data-col</span>=<span class="attr-value">"s12,m6,l3"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"card--primary"</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"card--header"</span>&gt;</span>
                Header title
            <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">a</span> <span class="html-attr">href</span>=<span class="attr-value">"#"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">img</span> <span class="html-attr">class</span>=<span class="attr-value">"card--image"</span> <span class="html-attr">src</span>=<span class="attr-value">"..."</span> <span class="html-attr">alt</span>=<span class="attr-value">""</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"card--body"</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">h5</span>&gt;</span>Johanna Sargent<span class="html-tag">&lt;/<span class="tag-name">h5</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">p</span> <span class="html-attr">class</span>=<span class="attr-value">"text-right"</span>&gt;</span>14 Februari 2019<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">p</span> <span class="html-attr">class</span>=<span class="attr-value">"mb-0"</span>&gt;</span>Voluptate sit anim consequat velit commodo qui tempor nisi dolor duis consequat.<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
            <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"card--footer"</span>&gt;</span>
                Footer title
            <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span></code></pre>
            </div>

            <hr>
        </div>
    </main>
</template>

<script>
export default {
    data() {
        return {
            cards: []
        }
    },
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Cards',
				description: 'Cards Page'
			}
		})
	},
    async fetch() {
		await this.$axios
			.get(`/json/cards.json`)
			.then(res => {
				this.cards = res.data.data
                this.cards = this.cards.filter(card => {
                    return card.show
                })
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	}
}
</script>
