<template>
    <main class="site-main">
        <div class="container">
            <div class="mb-24">
                <h2 class="text-suitmedia font-heading">Form</h2>
                <form action="">
                    <div class="bzg mb-12">
                        <div class="bzg_c form-label" data-col="s12,m4,l4">Text Input</div>
                        <div class="bzg_c" data-col="s12,m8,l8"><input class="form-input" type="text" name="text" placeholder="Text"></div>
                    </div>
                    <div class="bzg mb-12">
                        <div class="bzg_c form-label" data-col="s12,m4,l4">Full Width Input</div>
                        <div class="bzg_c" data-col="s12,m8,l8"><input class="form-input form-input--block" type="text" name="fullwidth" placeholder="Full Width Input"></div>
                    </div>
                    <div class="bzg mb-12">
                        <div class="bzg_c form-label" data-col="s12,m4,l4">Password Input</div>
                        <div class="bzg_c" data-col="s12,m8,l8"><input class="form-input" type="password" name="password" placeholder="Password"></div>
                    </div>
                    <div class="bzg mb-12">
                        <div class="bzg_c form-label" data-col="s12,m4,l4">Email Address</div>
                        <div class="bzg_c" data-col="s12,m8,l8"><input class="form-input" type="email" name="email" placeholder="Email"></div>
                    </div>
                    <div class="bzg mb-12">
                        <div class="bzg_c form-label" data-col="s12,m4,l4">Number Input</div>
                        <div class="bzg_c" data-col="s12,m8,l8"><input class="form-input" type="number" name="number" placeholder="Number"></div>
                    </div>
                    <div class="bzg mb-12">
                        <div class="bzg_c form-label" data-col="s12,m4,l4">Single File Input (Full Width)</div>
                        <div class="bzg_c" data-col="s12,m8,l8">
                            <input id="singleFile" class="form-input js-file-input" type="file" name="file">
                            <label class="flex form-file-label" for="singleFile">
                                <div class="js-file-name form-file-input form-input--block"> </div>
                                <div class="btn--primary ml-4">Browse</div>
                            </label>
                        </div>
                    </div>
                    <div class="bzg mb-12">
                        <div class="bzg_c form-label" data-col="s12,m4,l4">Multiple File Input</div>
                        <div class="bzg_c" data-col="s12,m8,l8">
                            <input id="multipleFile" class="form-input js-file-input" type="file" name="file" multiple>
                            <label class="flex form-file-label" for="multipleFile">
                                    <div class="js-file-name form-file-input"> </div>
                                    <div class="btn--primary ml-4">Browse</div>
                            </label>
                        </div>
                    </div>
                    <div class="bzg mb-12">
                        <div class="bzg_c form-label" data-col="s12,m4,l4">Textarea Input</div>
                        <div class="bzg_c" data-col="s12,m8,l8"><textarea class="form-input" name="textarea" placeholder="Text Area"></textarea></div>
                    </div>
                    <div class="bzg mb-12">
                        <div class="bzg_c form-label" data-col="s12,m4,l4">Disabled Input</div>
                        <div class="bzg_c" data-col="s12,m8,l8"><input class="form-input" type="text" name="disabled" placeholder="Disabled" disabled></div>
                    </div>
                    <div class="bzg mb-12">
                        <div class="bzg_c form-label" data-col="s12,m4,l4">Read-only Input</div>
                        <div class="bzg_c" data-col="s12,m8,l8"><input class="form-input" type="text" name="readonly" placeholder="Read-only" readonly></div>
                    </div>
                    <div class="bzg mb-12">
                        <div class="bzg_c form-label" data-col="s12,m4,l4">Dropdown Select</div>
                        <div class="bzg_c" data-col="s12,m8,l8">
                            <select class="form-input" name="dropdown">
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="bzg mb-12">
                        <div class="bzg_c form-label" data-col="s12,m4,l4">Radio Buttons</div>
                        <div class="bzg_c" data-col="s12,m8,l8">
                            <div class="form-check-group">
                                <label class="form-check__item" for="rbOption1"><input id="rbOption1" type="radio" name="radio"> Option 1</label>
                                <label class="form-check__item" for="rbOption2"><input id="rbOption2" type="radio" name="radio"> Option 2</label>
                                <label class="form-check__item" for="rbOption3"><input id="rbOption3" type="radio" name="radio"> Option 3</label>
                            </div>
                        </div>
                    </div>
                    <div class="bzg mb-12">
                        <div class="bzg_c form-label" data-col="s12,m4,l4">Checkbox</div>
                        <div class="bzg_c" data-col="s12,m8,l8">
                            <div class="form-check-group">
                                <label class="form-check__item" for="cbOption1"><input id="cbOption1" type="checkbox" name="checkbox" checked> Option 1</label>
                                <label class="form-check__item" for="cbOption2"><input id="cbOption2" type="checkbox" name="checkbox"> Option 2</label>
                                <label class="form-check__item" for="cbOption3"><input id="cbOption3" type="checkbox" name="checkbox" checked> Option 3</label>
                            </div>
                        </div>
                    </div>
                    <div class="bzg mb-12">
                        <div class="bzg_c" data-col="s12,m8,l8" data-offset="m4,l4">
                            <button class="btn btn--primary" type="submit">Submit</button>
                            <button class="btn btn--ghost-secondary" type="reset">Cancel</button>
                        </div>
                    </div>
                </form>

                <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">form</span> <span class="tag-attr">action</span>=<span class="attr-value">""</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-12"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c form-label"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m4,l4"</span>&gt;</span>Text Input<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-input"</span> <span class="tag-attr">type</span>=<span class="attr-value">"text"</span> <span class="tag-attr">name</span>=<span class="attr-value">"text"</span> <span class="tag-attr">placeholder</span>=<span class="attr-value">"Text"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-12"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c form-label"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m4,l4"</span>&gt;</span>Full Width Input<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-input form-input--block"</span> <span class="tag-attr">type</span>=<span class="attr-value">"text"</span> <span class="tag-attr">name</span>=<span class="attr-value">"fullwidth"</span> <span class="tag-attr">placeholder</span>=<span class="attr-value">"Full Width Input"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-12"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c form-label"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m4,l4"</span>&gt;</span>Password Input<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-input"</span> <span class="tag-attr">type</span>=<span class="attr-value">"password"</span> <span class="tag-attr">name</span>=<span class="attr-value">"password"</span> <span class="tag-attr">placeholder</span>=<span class="attr-value">"Password"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-12"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c form-label"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m4,l4"</span>&gt;</span>Email Address<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-input"</span> <span class="tag-attr">type</span>=<span class="attr-value">"email"</span> <span class="tag-attr">name</span>=<span class="attr-value">"email"</span> <span class="tag-attr">placeholder</span>=<span class="attr-value">"Email"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-12"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c form-label"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m4,l4"</span>&gt;</span>Number Input<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-input"</span> <span class="tag-attr">type</span>=<span class="attr-value">"number"</span> <span class="tag-attr">name</span>=<span class="attr-value">"number"</span> <span class="tag-attr">placeholder</span>=<span class="attr-value">"Number"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-12"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c form-label"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m4,l4"</span>&gt;</span>Single File Input (Full Width)<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-input js-file-input"</span> <span class="tag-attr">id</span>=<span class="attr-value">"singleFile"</span> <span class="tag-attr">type</span>=<span class="attr-value">"file"</span> <span class="tag-attr">name</span>=<span class="attr-value">"file"</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">label</span> <span class="tag-attr">class</span>=<span class="attr-value">"flex form-file-label"</span> <span class="tag-attr">for</span>=<span class="attr-value">"singleFile"</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"js-file-name form-file-input form-input--block"</span>&gt;</span> <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--primary ml-4"</span>&gt;</span>Browse<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
            <span class="html-tag">&lt;/<span class="tag-name">label</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-12"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c form-label"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m4,l4"</span>&gt;</span>Multiple File Input<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-input js-file-input"</span> <span class="tag-attr">id</span>=<span class="attr-value">"multipleFile"</span> <span class="tag-attr">type</span>=<span class="attr-value">"file"</span> <span class="tag-attr">name</span>=<span class="attr-value">"file"</span> <span class="tag-attr">multiple</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">label</span> <span class="tag-attr">class</span>=<span class="attr-value">"flex form-file-label"</span> <span class="tag-attr">for</span>=<span class="attr-value">"multipleFile"</span>&gt;</span>
                    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"js-file-name form-file-input"</span>&gt;</span> <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
                    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn--primary ml-4"</span>&gt;</span>Browse<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
            <span class="html-tag">&lt;/<span class="tag-name">label</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-12"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c form-label"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m4,l4"</span>&gt;</span>Textarea Input<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">textarea</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-input"</span> <span class="tag-attr">name</span>=<span class="attr-value">"textarea"</span> <span class="tag-attr">placeholder</span>=<span class="attr-value">"Text Area"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">textarea</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-12"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c form-label"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m4,l4"</span>&gt;</span>Disabled Input<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-input"</span> <span class="tag-attr">type</span>=<span class="attr-value">"text"</span> <span class="tag-attr">name</span>=<span class="attr-value">"disabled"</span> <span class="tag-attr">placeholder</span>=<span class="attr-value">"Disabled"</span> <span class="tag-attr">disabled</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-12"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c form-label"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m4,l4"</span>&gt;</span>Read-only Input<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-input"</span> <span class="tag-attr">type</span>=<span class="attr-value">"text"</span> <span class="tag-attr">name</span>=<span class="attr-value">"readonly"</span> <span class="tag-attr">placeholder</span>=<span class="attr-value">"Read-only"</span> <span class="tag-attr">readonly</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-12"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c form-label"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m4,l4"</span>&gt;</span>Dropdown Select<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">select</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-input"</span> <span class="tag-attr">name</span>=<span class="attr-value">"dropdown"</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">option</span> <span class="tag-attr">value</span>=<span class="attr-value">"1"</span>&gt;</span>Option 1<span class="html-tag">&lt;/<span class="tag-name">option</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">option</span> <span class="tag-attr">value</span>=<span class="attr-value">"2"</span>&gt;</span>Option 2<span class="html-tag">&lt;/<span class="tag-name">option</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">option</span> <span class="tag-attr">value</span>=<span class="attr-value">"3"</span>&gt;</span>Option 3<span class="html-tag">&lt;/<span class="tag-name">option</span>&gt;</span>
            <span class="html-tag">&lt;/<span class="tag-name">select</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-12"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c form-label"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m4,l4"</span>&gt;</span>Radio Buttons<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-check-group"</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">label</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-check__item"</span> <span class="tag-attr">for</span>=<span class="attr-value">"rbOption1"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">id</span>=<span class="attr-value">"rbOption1"</span> <span class="tag-attr">type</span>=<span class="attr-value">"radio"</span> <span class="tag-attr">name</span>=<span class="attr-value">"radio"</span>&gt;</span> Option 1<span class="html-tag">&lt;/<span class="tag-name">label</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">label</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-check__item"</span> <span class="tag-attr">for</span>=<span class="attr-value">"rbOption2"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">id</span>=<span class="attr-value">"rbOption2"</span> <span class="tag-attr">type</span>=<span class="attr-value">"radio"</span> <span class="tag-attr">name</span>=<span class="attr-value">"radio"</span>&gt;</span> Option 2<span class="html-tag">&lt;/<span class="tag-name">label</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">label</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-check__item"</span> <span class="tag-attr">for</span>=<span class="attr-value">"rbOption3"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">id</span>=<span class="attr-value">"rbOption3"</span> <span class="tag-attr">type</span>=<span class="attr-value">"radio"</span> <span class="tag-attr">name</span>=<span class="attr-value">"radio"</span>&gt;</span> Option 3<span class="html-tag">&lt;/<span class="tag-name">label</span>&gt;</span>
            <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-12"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c form-label"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m4,l4"</span>&gt;</span>Checkbox<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-check-group"</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">label</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-check__item"</span> <span class="tag-attr">for</span>=<span class="attr-value">"cbOption1"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">id</span>=<span class="attr-value">"cbOption1"</span> <span class="tag-attr">type</span>=<span class="attr-value">"checkbox"</span> <span class="tag-attr">name</span>=<span class="attr-value">"checkbox"</span> <span class="tag-attr">checked</span>&gt;</span> Option 1<span class="html-tag">&lt;/<span class="tag-name">label</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">label</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-check__item"</span> <span class="tag-attr">for</span>=<span class="attr-value">"cbOption2"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">id</span>=<span class="attr-value">"cbOption2"</span> <span class="tag-attr">type</span>=<span class="attr-value">"checkbox"</span> <span class="tag-attr">name</span>=<span class="attr-value">"checkbox"</span>&gt;</span> Option 2<span class="html-tag">&lt;/<span class="tag-name">label</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">label</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-check__item"</span> <span class="tag-attr">for</span>=<span class="attr-value">"cbOption3"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">id</span>=<span class="attr-value">"cbOption3"</span> <span class="tag-attr">type</span>=<span class="attr-value">"checkbox"</span> <span class="tag-attr">name</span>=<span class="attr-value">"checkbox"</span> <span class="tag-attr">checked</span>&gt;</span> Option 3<span class="html-tag">&lt;/<span class="tag-name">label</span>&gt;</span>
            <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-12"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span> <span class="tag-attr">data-offset</span>=<span class="attr-value">"m4,l4"</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn btn--primary"</span> <span class="tag-attr">type</span>=<span class="attr-value">"submit"</span>&gt;</span>Submit<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn btn--ghost-secondary"</span> <span class="tag-attr">type</span>=<span class="attr-value">"reset"</span>&gt;</span>Cancel<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">form</span>&gt;</span></code></pre>
                </div>

                <hr>
            </div>

            <div class="mb-24">
                <h2 class="text-suitmedia font-heading">Form Validation</h2>

                <form action="" class="js-validate" @submit.prevent="handleSubmit">
                    <div class="bzg mb-12">
                        <div class="bzg_c form-label" data-col="s12,m4,l4">Username</div>
                        <div class="bzg_c" data-col="s12,m8,l8">
                            <input
                            v-model.trim="$v.formData.username.$model"
                            class="form-input"
                            type="text"
                            name="username"
                            placeholder="Username"
                            :class="{ 'form-input--error': $v.formData.username.$error }"
                            @change="$v.formData.username.$touch()"
                            >
                            <div v-if="$v.formData.username.$error" class="form-error-msg">
                                <div v-if="!$v.formData.username.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bzg mb-12">
                        <div class="bzg_c form-label" data-col="s12,m4,l4">Email</div>
                        <div class="bzg_c" data-col="s12,m8,l8">
                            <input
                                v-model.trim="$v.formData.email.$model"
                                type="email"
                                name="email"
                                class="form-input"
                                placeholder="Email"
                                :class="{ 'form-input--error': $v.formData.email.$error }"
                                @change="$v.formData.email.$touch()"
						    />
                            <div v-if="$v.formData.email.$error" class="form-error-msg">
                                <div v-if="!$v.formData.email.required">
                                    This field is required.
                                </div>
                                <div v-if="!$v.formData.email.email">
                                   Invalid email address.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bzg mb-12">
                        <div class="bzg_c form-label" data-col="s12,m4,l4">Birthdate</div>
                        <div class="bzg_c" data-col="s12,m8,l8">
                            <input
                            v-model.trim="$v.formData.birthdate.$model"
                            class="form-input datepicker-here js-date"
                            type="date"
                            name="birthdate"
                            placeholder="Birthdate"
                            :class="{ 'form-input--error': $v.formData.birthdate.$error }"
                            @change="$v.formData.birthdate.$touch()"
                            />
                            <div v-if="$v.formData.birthdate.$error" class="form-error-msg">
                                <div v-if="!$v.formData.birthdate.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bzg mb-12">
                        <div class="bzg_c form-label" data-col="s12,m4,l4">Gender</div>
                        <div class="bzg_c" data-col="s12,m8,l8">
                            <div class="form-check-group" >
                                <label class="form-check__item" for="gender1" :class="{ 'form-input--error': $v.formData.birthdate.$error }">
                                    <input
                                    id="gender1"
                                    v-model="$v.formData.gender.$model"
                                    type="radio"
                                    name="gender"
                                    value="male"
                                    @change="$v.formData.gender.$touch()"/>
                                     Male</label>
                                <label class="form-check__item" for="gender2" :class="{ 'form-input--error': $v.formData.birthdate.$error }">
                                    <input
                                    id="gender2"
                                    v-model="$v.formData.gender.$model"
                                    type="radio"
                                    name="gender"
                                    value="female"
                                    @change="$v.formData.gender.$touch()">
                                     Female</label>
                                <div v-if="$v.formData.gender.$error" class="form-error-msg">
                                    <div v-if="!$v.formData.gender.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bzg mb-24">
                        <div class="bzg_c form-label" data-col="s12,m4,l4">Hobbies</div>
                        <div class="bzg_c" data-col="s12,m8,l8">
                            <div class="form-check-group form-input--block" :class="{ 'form-input--error': $v.formData.hobbies.$error }">
                                <label class="form-check__item" for="hobby1">
                                    <input
                                    id="hobby1"
                                    type="checkbox"
                                    name="hobby"
                                    value="reading"
                                    @change="handleHobbies($event)">
                                     Reading</label>
                                <label class="form-check__item" for="hobby2">
                                    <input
                                    id="hobby2"
                                    type="checkbox"
                                    name="hobby"
                                    value="writing"
                                    @change="handleHobbies($event)">
                                     Writing</label>
                                <label class="form-check__item" for="hobby3">
                                    <input
                                    id="hobby3"
                                    type="checkbox"
                                    name="hobby"
                                    value="running"
                                    @change="handleHobbies($event)">
                                     Running</label>
                                <label class="form-check__item" for="hobby4" data-invalid="Custom Error Message">
                                    <input
                                    id="hobby4"
                                    type="checkbox"
                                    name="hobby"
                                    value="swimming"
                                    @change="handleHobbies($event)">
                                     Swimming</label>
                                <div v-if="$v.formData.hobbies.$error" class="form-error-msg">
                                    <div v-if="!$v.formData.hobbies.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="bzg mb-12">
                        <div class="bzg_c" data-col="s12,m8,l8" data-offset="m4,l4">
                            <button class="btn btn--primary" type="submit">Submit</button>
                        </div>
                    </div>
                </form>

                <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">form</span> <span class="tag-attr">action</span>=<span class="attr-value">""</span> <span class="tag-attr">class</span>=<span class="attr-value">"js-validate"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-12"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c form-label"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m4,l4"</span>&gt;</span>Username<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-input"</span> <span class="tag-attr">type</span>=<span class="attr-value">"text"</span> <span class="tag-attr">name</span>=<span class="attr-value">"username"</span> <span class="tag-attr">placeholder</span>=<span class="attr-value">"Username"</span> <span class="tag-attr">required</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-12"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c form-label"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m4,l4"</span>&gt;</span>Email<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-input"</span> <span class="tag-attr">type</span>=<span class="attr-value">"email"</span> <span class="tag-attr">name</span>=<span class="attr-value">"email"</span> <span class="tag-attr">placeholder</span>=<span class="attr-value">"Email"</span> <span class="tag-attr">required</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-12"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c form-label"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m4,l4"</span>&gt;</span>Birthdate<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-input datepicker-here js-date"</span> <span class="tag-attr">type</span>=<span class="attr-value">"text"</span> <span class="tag-attr">name</span>=<span class="attr-value">"birthdate"</span> <span class="tag-attr">placeholder</span>=<span class="attr-value">"Birthdate"</span> <span class="tag-attr">required</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-12"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c form-label"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m4,l4"</span>&gt;</span>Gender<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-check-group"</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">label</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-check__item"</span> <span class="tag-attr">for</span>=<span class="attr-value">"gender1"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">id</span>=<span class="attr-value">"gender1"</span> <span class="tag-attr">type</span>=<span class="attr-value">"radio"</span> <span class="tag-attr">name</span>=<span class="attr-value">"gender"</span> <span class="tag-attr">required</span>&gt;</span> Male<span class="html-tag">&lt;/<span class="tag-name">label</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">label</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-check__item"</span> <span class="tag-attr">for</span>=<span class="attr-value">"gender2"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">id</span>=<span class="attr-value">"gender2"</span> <span class="tag-attr">type</span>=<span class="attr-value">"radio"</span> <span class="tag-attr">name</span>=<span class="attr-value">"gender"</span>&gt;</span> Female<span class="html-tag">&lt;/<span class="tag-name">label</span>&gt;</span>
            <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-24"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c form-label"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m4,l4"</span>&gt;</span>Hobbies<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-check-group form-input--block"</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">label</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-check__item"</span> <span class="tag-attr">for</span>=<span class="attr-value">"hobby1"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">id</span>=<span class="attr-value">"hobby1"</span> <span class="tag-attr">type</span>=<span class="attr-value">"checkbox"</span> <span class="tag-attr">name</span>=<span class="attr-value">"hobby"</span> <span class="tag-attr">required</span>&gt;</span> Reading<span class="html-tag">&lt;/<span class="tag-name">label</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">label</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-check__item"</span> <span class="tag-attr">for</span>=<span class="attr-value">"hobby2"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">id</span>=<span class="attr-value">"hobby2"</span> <span class="tag-attr">type</span>=<span class="attr-value">"checkbox"</span> <span class="tag-attr">name</span>=<span class="attr-value">"hobby"</span>&gt;</span> Writing<span class="html-tag">&lt;/<span class="tag-name">label</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">label</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-check__item"</span> <span class="tag-attr">for</span>=<span class="attr-value">"hobby3"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">id</span>=<span class="attr-value">"hobby3"</span> <span class="tag-attr">type</span>=<span class="attr-value">"checkbox"</span> <span class="tag-attr">name</span>=<span class="attr-value">"hobby"</span>&gt;</span> Running<span class="html-tag">&lt;/<span class="tag-name">label</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">label</span> <span class="tag-attr">class</span>=<span class="attr-value">"form-check__item"</span> <span class="tag-attr">for</span>=<span class="attr-value">"hobby4"</span> <span class="tag-attr">data-invalid</span>=<span class="attr-value">"Custom Error Message"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">input</span> <span class="tag-attr">id</span>=<span class="attr-value">"hobby4"</span> <span class="tag-attr">type</span>=<span class="attr-value">"checkbox"</span> <span class="tag-attr">name</span>=<span class="attr-value">"hobby"</span>&gt;</span> Swimming<span class="html-tag">&lt;/<span class="tag-name">label</span>&gt;</span>
            <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg mb-12"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m8,l8"</span> <span class="tag-attr">data-offset</span>=<span class="attr-value">"m4,l4"</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="tag-attr">class</span>=<span class="attr-value">"btn btn--primary"</span> <span class="tag-attr">type</span>=<span class="attr-value">"submit"</span>&gt;</span>Submit<span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">form</span>&gt;</span></code></pre>
                </div>

                <hr>
            </div>

            
        </div>
    </main>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
export default {
	data() {
		return {
			formData: {
				email: null,
				username: null,
                birthdate: null,
                gender: null,
                hobbies: []
			}
		}
	},
    jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Form',
				description: 'Form Page'
			}
		})
	},
	validations: {
		formData: {
			email: {
				required,
				email,
			},
			username: {
				required,
			},
            birthdate: {
                required
            },
            gender: {
                required
            },
            hobbies: {
                required
            }
		}
	},
    methods: {
        handleHobbies(event) {
            const hobbyId = event.target
            if(hobbyId.checked) {
                if(!this.formData.hobbies.includes(hobbyId.value)) {
                    this.formData.hobbies.push(hobbyId.value)
                }
            } else if(this.formData.hobbies.includes(hobbyId.value)) {
                    this.formData.hobbies = this.formData.hobbies.filter((hobby) => hobby !== hobbyId.value)
            }
        },
        handleSubmit() {
            this.$v.$touch()
            if (!this.$v.$invalid) {
                location.reload()
			}
        }
    }
}
</script>