<template>
    <main class="site-main">
        <div class="container">
            <div class="mb-24">
                <h2 class="text-suitmedia font-heading">Default Grid</h2>
                <div class="bzg">
                    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
                    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
                    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
                    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
                </div>
                <div class="bzg">
                    <div class="bzg_c" data-col="m4"><div class="text-center bg-primary text-white">bzg_c m4</div></div>
                    <div class="bzg_c" data-col="m4"><div class="text-center bg-primary text-white">bzg_c m4</div></div>
                    <div class="bzg_c" data-col="m4"><div class="text-center bg-primary text-white">bzg_c m4</div></div>
                </div>

                <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m3"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m3"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m3"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m3"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m4"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m4<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m4"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m4<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m4"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m4<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span></code></pre>
                </div>
            </div>

            <hr>

            <div class="mb-24">
                <h2 class="text-suitmedia font-heading">No-Gutter Grid</h2>
                <div class="bzg bzg--no-gutter">
                    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
                    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
                    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
                    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
                    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
                    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
                    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
                    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
                    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
                    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
                    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
                    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
                </div>
                <div class="bzg bzg--no-gutter">
                    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
                    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
                    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
                    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
                    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
                    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
                </div>
                <div class="bzg bzg--no-gutter">
                    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
                    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
                    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
                    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
                </div>
                <div class="bzg bzg--no-gutter">
                    <div class="bzg_c" data-col="m4"><div class="text-center bg-primary text-white">bzg_c m4</div></div>
                    <div class="bzg_c" data-col="m4"><div class="text-center bg-primary text-white">bzg_c m4</div></div>
                    <div class="bzg_c" data-col="m4"><div class="text-center bg-primary text-white">bzg_c m4</div></div>
                </div>
                <div class="bzg bzg--no-gutter">
                    <div class="bzg_c" data-col="m6"><div class="text-center bg-primary text-white">bzg_c m6</div></div>
                    <div class="bzg_c" data-col="m6"><div class="text-center bg-primary text-white">bzg_c m6</div></div>
                </div>
                <div class="bzg bzg--no-gutter">
                    <div class="bzg_c" data-col="m7"><div class="text-center bg-primary text-white">bzg_c m7</div></div>
                    <div class="bzg_c" data-col="m5"><div class="text-center bg-primary text-white">bzg_c m5</div></div>
                </div>
                <div class="bzg bzg--no-gutter">
                    <div class="bzg_c" data-col="m12"><div class="text-center bg-primary text-white">bzg_c m12</div></div>
                </div>

                <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m1"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m1"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m1"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m1"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m1"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m1"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m1"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m1"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m1"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m1"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m1"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m1"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m1<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m2"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m2<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m2"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m2<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m2"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m2<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m2"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m2<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m2"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m2<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m2"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m2<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m3"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m3"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m3"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m3"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m4"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m4<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m4"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m4<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m4"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m4<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m6"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m6<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m6"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m6<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m7"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m7<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m5"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m5<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m12"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m12<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span></code></pre>
                </div>
            </div>

            <hr>

            <div class="mb-24">
                <h2 class="text-suitmedia font-heading">Grid with Offset</h2>
                <div class="bzg bzg--no-gutter">
                    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
                    <div class="bzg_c" data-col="m5" data-offset="m5"><div class="text-center bg-primary text-white">bzg_c m5 offset=m5</div></div>
                </div>
                <div class="bzg bzg--no-gutter">
                    <div class="bzg_c" data-col="m3" data-offset="m3"><div class="text-center bg-primary text-white">bzg_c m3 offset=m3</div></div>
                    <div class="bzg_c" data-col="m3" data-offset="m3"><div class="text-center bg-primary text-white">bzg_c m3 offset=m3</div></div>
                </div>
                <div class="bzg bzg--no-gutter">
                    <div class="bzg_c" data-col="m6" data-offset="m3"><div class="text-center bg-primary text-white">bzg_c m6 offset=m3</div></div>
                </div>

                <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m2"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m2<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m5"</span> <span class="tag-attr">data-offset</span>=<span class="attr-value">"m5"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m5 offset=m5<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m3"</span> <span class="tag-attr">data-offset</span>=<span class="attr-value">"m3"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3 offset=m3<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m3"</span> <span class="tag-attr">data-offset</span>=<span class="attr-value">"m3"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m3 offset=m3<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"m6"</span> <span class="tag-attr">data-offset</span>=<span class="attr-value">"m3"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c m6 offset=m3<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span></code></pre>
                </div>
            </div>

            <div class="mb-24">
                <h2 class="text-suitmedia font-heading">Responsive Grid</h2>
                <div class="bzg bzg--no-gutter">
                    <div class="bzg_c" data-col="s12,m9,l6"><div class="text-center bg-primary text-white">bzg_c s12,m9,l6</div></div>
                    <div class="bzg_c" data-col="s6,m3,l6"><div class="text-center bg-primary text-white">bzg_c s6,m3,l6</div></div>
                </div>
                <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg bzg--no-gutter"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s12,m9,l6"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c s12,m9,l6<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzg_c"</span> <span class="tag-attr">data-col</span>=<span class="attr-value">"s6,m3,l6"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"text-center bg-primary text-white"</span>&gt;</span>bzg_c s6,m3,l6<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span></code></pre>
                </div>
                <hr>
            </div>
        </div>
    </main>
</template>

<script>
export default {
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Grid',
				description: 'Grid Page'
			}
		})
	}
}
</script>
