<template>
	<main class="site-main">
		<div class="container">
			<h2 class="text-suitmedia font-heading">Heading</h2>
			<h1>Heading 1</h1>
			<h2>Heading 2</h2>
			<h3>Heading 3</h3>
			<h4>Heading 4</h4>
			<h5>Heading 5</h5>
			<h6>Heading 6</h6>
			<div>
				<pre>
<code><span class="html-tag">&lt;<span class="tag-name">h1</span>&gt;</span>Heading 1<span class="html-tag">&lt;/<span class="tag-name">h1</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">h2</span>&gt;</span>Heading 2<span class="html-tag">&lt;/<span class="tag-name">h2</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">h3</span>&gt;</span>Heading 3<span class="html-tag">&lt;/<span class="tag-name">h3</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">h4</span>&gt;</span>Heading 4<span class="html-tag">&lt;/<span class="tag-name">h4</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">h5</span>&gt;</span>Heading 5<span class="html-tag">&lt;/<span class="tag-name">h5</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">h6</span>&gt;</span>Heading 6<span class="html-tag">&lt;/<span class="tag-name">h6</span>&gt;</span></code></pre>
			</div>
			<hr />

			<div class="heading-style">
				<h2 class="text-suitmedia font-heading">Heading Style</h2>
				<p class="h1">Text size adjust h1</p>
				<p class="h2">Text size adjust h2</p>
				<p class="h3">Text size adjust h3</p>
				<p class="h4">Text size adjust h4</p>
				<p class="h5">Text size adjust h5</p>
				<p class="h6">Text size adjust h6</p>
				<div class="text-size14">
					<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">p</span> <span class="tag-attr">class</span>=<span class="attr-value">"h1"</span>&gt;</span>Text size adjust h1<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">p</span> <span class="tag-attr">class</span>=<span class="attr-value">"h2"</span>&gt;</span>Text size adjust h2<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">p</span> <span class="tag-attr">class</span>=<span class="attr-value">"h3"</span>&gt;</span>Text size adjust h3<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">p</span> <span class="tag-attr">class</span>=<span class="attr-value">"h4"</span>&gt;</span>Text size adjust h4<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">p</span> <span class="tag-attr">class</span>=<span class="attr-value">"h5"</span>&gt;</span>Text size adjust h5<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">p</span> <span class="tag-attr">class</span>=<span class="attr-value">"h6"</span>&gt;</span>Text size adjust h6<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />
		</div>
	</main>
</template>

<script>
export default {
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Headings',
				description: 'Headings Page'
			}
		})
	}
}
</script>
