<template>
	<main class="site-main">
		<div class="container">
			<div class="mb-24">
				<h2 class="text-suitmedia font-heading">Icomoon</h2>
				<div class="ml-24">
					<h5 class="mb-4">Icomoon Solid</h5>
					<div>
						<span class="bzi-bell-solid"></span>
						<div class="text-size14 mt-18">
							<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">span</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzi-bell-solid"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">span</span>&gt;</span></code></pre>
						</div>
					</div>

					<h5 class="mb-4">Icomoon Regular</h5>
					<div>
						<span class="bzi-bell-regular"></span>
						<div class="text-size14">
							<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">span</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzi-bell-regular"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">span</span>&gt;</span></code></pre>
						</div>
					</div>

					<h5 class="mb-4">Icomoon Brand</h5>
					<div>
						<span class="bzi-github"></span>
						<div class="text-size14">
							<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">span</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzi-github"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">span</span>&gt;</span></code></pre>
						</div>
					</div>
				</div>
			</div>

			<hr />

			<div class="mb-24">
				<h2 class="text-suitmedia font-heading">Icon Sizing</h2>
				<p>
					<i class="bzi-check-circle bzi--xs"></i>
					<i class="bzi-check-circle bzi--sm"></i>
					<i class="bzi-check-circle"></i>
					<i class="bzi-check-circle bzi--lg"></i>
					<i class="bzi-check-circle bzi--2x"></i>
					<i class="bzi-check-circle bzi--3x"></i>
					<i class="bzi-check-circle bzi--4x"></i>
					<i class="bzi-check-circle bzi--5x"></i>
					<i class="bzi-check-circle bzi--6x"></i>
					<i class="bzi-check-circle bzi--7x"></i>
					<i class="bzi-check-circle bzi--8x"></i>
					<i class="bzi-check-circle bzi--9x"></i>
					<i class="bzi-check-circle bzi--10x"></i>
				</p>

				<div class="text-size14">
					<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">span</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzi-check-circle bzi--xs"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">span</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">span</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzi-check-circle bzi--sm"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">span</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">span</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzi-check-circle"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">span</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">span</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzi-check-circle bzi--lg"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">span</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">span</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzi-check-circle bzi--2x"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">span</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">span</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzi-check-circle bzi--3x"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">span</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">span</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzi-check-circle bzi--4x"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">span</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">span</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzi-check-circle bzi--5x"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">span</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">span</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzi-check-circle bzi--6x"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">span</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">span</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzi-check-circle bzi--7x"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">span</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">span</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzi-check-circle bzi--8x"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">span</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">span</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzi-check-circle bzi--9x"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">span</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">span</span> <span class="tag-attr">class</span>=<span class="attr-value">"bzi-check-circle bzi--10x"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">span</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />

			<div class="mb-24">
				<h2 class="text-suitmedia font-heading">Icomoon Documentation</h2>
				<p>
					Untuk informasi lebih lanjut mengenai Font Awesome silakan kunjungi
					link berikut:
				</p>
				<p>
					<a href="https://icomoon.io/#preview-free"
						><span class="bzi-flag-solid"></span> Daftar Icon</a
					>
					|
					<a href="https://icomoon.io/#docs"
						><span class="bzi-file-solid"></span> Dokumentasi</a
					>
				</p>
			</div>

			<hr />
		</div>
	</main>
</template>

<script>
export default {
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Icomoon',
				description: 'Icomoon Page'
			}
		})
	}
}
</script>
