<template>
	<main class="site-main landing">
		<header class="landing-header">
			<img src="~assets/img/baze-flat-icon.png" alt="" />
			<p>Baze UI</p>
		</header>
		<main class="landing-main">
			<img src="~assets/img/apple-icon.png" alt="" />
			<p>A minimal setup for your frontend environment</p>
			<div class="buttons-wrapper">
				<nuxt-link to="/get-started"> Get Started </nuxt-link>
				<a href="https://github.com/suitmedia/suit-baze">Download</a>
			</div>
		</main>
		<footer class="landing-footer">
			<span>Version 2.20.0</span>
			<span>|</span>
			<span>Powered by: Suitmedia.com</span>
		</footer>
	</main>
</template>

<script>
export default {
	layout: 'Splash',
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze Documentation'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'contact(at)suitmedia.com',
				name: 'Suitmedia',
				telephone: '+62 21 719 6877',
				legalName: 'PT Suitmedia Kreasi Indonesia',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Digital Agency Indonesia'
			}
		})
	}
}
</script>
