<template>
	<main class="site-main">
        <div class="container">
            <h2 class="text-suitmedia font-heading">Lists</h2>
            <div class="ml-24">
                <h5>Ordered List</h5>
                <ol>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Incidunt magni consequatur adipisci officiis vero placeat consectetur</li>
                    <li>id facere,
                        <ol type="a">
                            <li>molestiae in,</li>
                            <li>ducimus necessitatibus hic ad esse consequuntur</li>
                        </ol>
                    </li>
                    <li>dignissimos sequi illum doloremque.</li>
                </ol>

                <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">ol</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>Incidunt magni consequatur adipisci officiis vero placeat consectetur<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>id facere,
        <span class="html-tag">&lt;<span class="tag-name">ol</span> <span class="tag-attr">type</span>=<span class="attr-value">"a"</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>molestiae in,<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>ducimus necessitatibus hic ad esse consequuntur<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">ol</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>dignissimos sequi illum doloremque.<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">ol</span>&gt;</span></code></pre>
                </div>

                <h5>Unordered List</h5>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Incidunt magni consequatur adipisci officiis vero placeat consectetur</li>
                    <ul>
                        id facere,
                        <li>molestiae in,</li>
                        <li>ducimus necessitatibus hic ad esse consequuntur</li>
                    </ul>
                    <li>dignissimos sequi illum doloremque.</li>
                </ul>
                <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">ul</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>Incidunt magni consequatur adipisci officiis vero placeat consectetur<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>id facere,
        <span class="html-tag">&lt;<span class="tag-name">ul</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>molestiae in,<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>ducimus necessitatibus hic ad esse consequuntur<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">ul</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>dignissimos sequi illum doloremque.<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">ul</span>&gt;</span></code></pre>
                </div>

                <h5>Inline List</h5>
                <ol class="list-inline">
                    <li>Lorem > </li>
                    <li>Ipsum > </li>
                    <li>Dolor</li>
                </ol>
                <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">ol</span> <span class="tag-attr">class</span>=<span class="attr-value">"list-inline"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>Lorem &gt; <span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>Ipsum &gt; <span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>Dolor<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">ol</span>&gt;</span></code></pre>
                </div>

                <h5>No Style List</h5>
                <ul class="list-nostyle">
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Incidunt magni consequatur adipisci officiis vero placeat consectetur</li>
                    <li>id facere,
                        <ul>
                            <li>molestiae in,</li>
                            <li>ducimus necessitatibus hic ad esse consequuntur</li>
                        </ul>
                    </li>
                    <li>dignissimos sequi illum doloremque.</li>
                </ul>
                <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">ul</span> <span class="tag-attr">class</span>=<span class="attr-value">"list-nostyle"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>Incidunt magni consequatur adipisci officiis vero placeat consectetur<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>id facere,
        <span class="html-tag">&lt;<span class="tag-name">ul</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>molestiae in,<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>ducimus necessitatibus hic ad esse consequuntur<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">ul</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span>dignissimos sequi illum doloremque.<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">ul</span>&gt;</span></code></pre>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
export default {
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Lists',
				description: 'Lists Page'
			}
		})
	}
}
</script>
