<template>
	<main class="site-main">
		<div class="container">
			<div class="mb-24">
				<h2 class="text-suitmedia font-heading">Media Objects</h2>
				<figure class="media">
					<div class="media-figure">
						<img src="~assets/img/apple-icon.png" alt="" width="64px" />
					</div>
					<div class="media-content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
						incidunt tempora ratione sapiente, nesciunt consectetur officiis
						commodi soluta. Sit sapiente veritatis non quia vitae, facilis nam
						rerum, reprehenderit modi. Fugiat?
					</div>
				</figure>
				<div class="text-size14">
					<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">figure</span> <span class="html-attr">class</span>=<span class="attr-value">"media"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"media-figure"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">img</span> <span class="html-attr">src</span>=<span class="attr-value">"..."</span> <span class="html-attr">alt</span>=<span class="attr-value">""</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"media-content"</span>&gt;</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam incidunt tempora ratione sapiente,
        nesciunt consectetur officiis commodi soluta. Sit sapiente veritatis non quia vitae, facilis nam rerum, reprehenderit modi. Fugiat?
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">figure</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />

			<div class="mb-24">
				<h2 class="text-suitmedia font-heading">
					With Title, Button, and Link
				</h2>
				<figure class="media">
					<div class="media-figure">
						<img src="~assets/img/apple-icon.png" alt="" width="150px" />
					</div>
					<div class="media-content">
						<h4 class="media-title text-primary">Title</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident,
							sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<p class="mb-0">
							<button class="btn--primary btn--small btn--icon mr-8">
								<span class="bzi-thumbs-up-solid"></span>
							</button>
							<a href="#">Visit somewhere...</a>
						</p>
					</div>
				</figure>

				<div class="text-size14">
					<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">figure</span> <span class="html-attr">class</span>=<span class="attr-value">"media"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"media-figure"</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">img</span> <span class="html-attr">src</span>=<span class="attr-value">"..."</span> <span class="html-attr">alt</span>=<span class="attr-value">""</span> <span class="html-attr">width</span>=<span class="attr-value">"150px"</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"media-content"</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">h4</span> <span class="html-attr">class</span>=<span class="attr-value">"media-title text-primary"</span>&gt;</span>Title<span class="html-tag">&lt;/<span class="tag-name">h4</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">p</span>&gt;</span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">p</span> <span class="html-attr">class</span>=<span class="attr-value">"mb-0"</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">button</span> <span class="html-attr">class</span>=<span class="attr-value">"btn--primary btn--small btn--icon mr-8"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">i</span> <span class="html-attr">class</span>=<span class="attr-value">"fas fa-thumbs-up"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">button</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">a</span> <span class="html-attr">href</span>=<span class="attr-value">"#"</span>&gt;</span>Visit somewhere...<span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span>
            <span class="html-tag">&lt;/<span class="tag-name">p</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">figure</span>&gt;</span></code></pre>
				</div>
			</div>

			<hr />
		</div>
	</main>
</template>

<script>
export default {
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Media Object',
				description: 'Media Object Page'
			}
		})
	}
}
</script>
