<template>
	<main class="site-main">
		<div class="container">
			<div class="mb-24">
				<h2 class="text-suitmedia font-heading">Pagination</h2>
				<ol class="pagination">
					<li>
						<a href="#"><span class="bzi-angle-left"></span></a>
					</li>
					<li><a class="is-active" href="#">1</a></li>
					<li><a href="#" disabled>2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li>
						<a href="#"><span class="bzi-angle-right"></span></a>
					</li>
				</ol>
				<div class="text-size14">
					<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">ol</span> <span class="tag-attr">class</span>=<span class="attr-value">"pagination"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">a</span> <span class="tag-attr">href</span>=<span class="attr-value">"#"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-angle-left"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">a</span> <span class="tag-attr">class</span>=<span class="attr-value">"is-active"</span> <span class="tag-attr">href</span>=<span class="attr-value">"#"</span>&gt;</span>1<span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">a</span> <span class="tag-attr">href</span>=<span class="attr-value">"#"</span> <span class="tag-attr">disabled</span>&gt;</span>2<span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">a</span> <span class="tag-attr">href</span>=<span class="attr-value">"#"</span>&gt;</span>3<span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">a</span> <span class="tag-attr">href</span>=<span class="attr-value">"#"</span>&gt;</span>4<span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">a</span> <span class="tag-attr">href</span>=<span class="attr-value">"#"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-angle-right"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">ol</span>&gt;</span></code></pre>
				</div>
			</div>

			<hr />

			<div class="mb-24">
				<h2 class="text-suitmedia font-heading">Left Pagination</h2>
				<ol class="pagination--left">
					<li>
						<a href="#"><span class="bzi-angle-left"></span></a>
					</li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li>
						<a href="#"><span class="bzi-angle-right"></span></a>
					</li>
				</ol>
				<div class="text-size14">
					<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">ol</span> <span class="tag-attr">class</span>=<span class="attr-value">"pagination--left"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">a</span> <span class="tag-attr">href</span>=<span class="attr-value">"#"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-angle-left"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">a</span> <span class="tag-attr">href</span>=<span class="attr-value">"#"</span>&gt;</span>1<span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">a</span> <span class="tag-attr">href</span>=<span class="attr-value">"#"</span>&gt;</span>2<span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">a</span> <span class="tag-attr">href</span>=<span class="attr-value">"#"</span>&gt;</span>3<span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">a</span> <span class="tag-attr">href</span>=<span class="attr-value">"#"</span>&gt;</span>4<span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">a</span> <span class="tag-attr">href</span>=<span class="attr-value">"#"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-angle-right"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">ol</span>&gt;</span></code></pre>
				</div>
			</div>

			<hr />

			<div class="mb-24">
				<h2 class="text-suitmedia font-heading">Right Pagination</h2>
				<ol class="pagination--right">
					<li>
						<a href="#"><span class="bzi-angle-left"></span></a>
					</li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li>
						<a href="#"><span class="bzi-angle-right"></span></a>
					</li>
				</ol>
				<div class="text-size14">
					<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">ol</span> <span class="tag-attr">class</span>=<span class="attr-value">"pagination--right"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">a</span> <span class="tag-attr">href</span>=<span class="attr-value">"#"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-angle-left"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">a</span> <span class="tag-attr">href</span>=<span class="attr-value">"#"</span>&gt;</span>1<span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">a</span> <span class="tag-attr">href</span>=<span class="attr-value">"#"</span>&gt;</span>2<span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">a</span> <span class="tag-attr">href</span>=<span class="attr-value">"#"</span>&gt;</span>3<span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">a</span> <span class="tag-attr">href</span>=<span class="attr-value">"#"</span>&gt;</span>4<span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">a</span> <span class="tag-attr">href</span>=<span class="attr-value">"#"</span>&gt;</span><span class="html-tag">&lt;<span class="tag-name">i</span> <span class="tag-attr">class</span>=<span class="attr-value">"fas fa-angle-right"</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">i</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">a</span>&gt;</span><span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">ol</span>&gt;</span></code></pre>
				</div>
			</div>

			<hr />
		</div>
	</main>
</template>

<script>
export default {
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Pagination',
				description: 'Pagination Page'
			}
		})
	}
}
</script>
