<template>
	<main class="site-main">
		<div class="container">
			<div class="mb-24">
				<h2 class="text-suitmedia font-heading">API</h2>
				<h2 class="text-suitmedia font-heading pokemon-heading">PoKeMoN</h2>
				<div class="search-bar">
					<form action="" @submit.prevent="searchPokemon($event)">
						<input
							id="search"
							name="search"
							type="text"
							placeholder="Gotta search them all"
							class="form-input"
						/>
						<button for="search" class="btn--primary" type="submit">
							Search
						</button>
					</form>
				</div>
				<div class="container pokemons">
					<Spinner v-if="$fetchState.pending"></Spinner>
					<p v-else-if="$fetchState.error">Terjadi kesalahan</p>
					<template v-else-if="!$fetchState.pending">
						<div
							v-for="pokemon of displayedPokemons"
							:id="pokemon.url"
							:key="pokemon.url"
							class="pokemon-card"
						>
							<PokemonCard :url="pokemon.url"></PokemonCard>
						</div>
						<div class="button-container">
							<button class="btn--primary" @click="loadMore()">
								Load More
							</button>
						</div>
					</template>
				</div>

				<hr />
			</div>
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			pokemons: [],
			displayedPokemons: [],
			next: ''
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'API',
				description: 'API Page'
			}
		})
	},
	async fetch() {
		await this.$axios
			.get(`https://pokeapi.co/api/v2/pokemon/?offset=0&limit=20`)
			.then(res => {
				this.pokemons = res.data.results
				this.displayedPokemons = res.data.results
				this.next = res.data.next
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	},
	fetchOnServer: false,
	fetchDelay: 500,
	methods: {
		searchPokemon(event) {
			const searchResult = this.pokemons.filter(pokemon =>
				pokemon.name.toLowerCase().includes(event.target[0].value)
			)
			if (searchResult.length > 0) {
				this.displayedPokemons = searchResult
			} else {
				this.displayedPokemons = this.pokemons
			}
		},
		async loadMore() {
			await this.$axios
				.get(this.next)
				.then(res => {
					this.pokemons = [...this.pokemons, ...res.data.results]
					this.displayedPokemons = this.pokemons
					this.next = res.data.next
				})
				.catch(error => {
					const errData = error.response?.data
					const errMessage =
						error.response.data?.message || error.response.statusText
					if (errData.status === 404 || error.response.status === 404)
						this.$nuxt.error(this.$catch404)
					else {
						this.$nuxt.error(this.$catch500)
						const consoleError = new Error(errMessage)
						consoleError.code = errData?.status || error.response.status
						throw consoleError
					}
				})
		}
	}
}
</script>

<style lang="scss" scoped>
.container {
	form {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;

		input[type='text'] {
			padding: 8px;
			width: 100%;
		}
		.btn--primary {
			background-color: #ffcb05;
			border-color: #ffcb05;
		}
	}
	.pokemon-heading {
		color: #ffcb05;
	}
	&.pokemons {
		width: 100%;
		display: flex;
		gap: 16px;
		flex-wrap: wrap;
		margin: 32px 0;
		position: relative;
		justify-content: center;
	}

	.pokemon-card {
		min-width: 228px;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		border-radius: 8px;
	}

	.button-container {
		text-align: center;
		flex: 0 0 100%;

		.btn--primary {
			background-color: #ffcb05;
			border-color: #ffcb05;
		}
	}
}
</style>
