<template>
    <main class="site-main">
        <div class="container">
            <div class="mb-24">
                <h2 class="text-suitmedia font-heading">Responsive Image</h2>
                <img
                :srcset="require('../static/assets/img/koala-1010x1010.png') + ' 100w, ' + require('../static/assets/img/koala-1010x1010.png') + ' 500w, ' + require('../static/assets/img/koala-1010x1010.png') + ' 1010w'"
                sizes="(max-width: 28em) 100px,
                (max-width: 75em) 500px,
                1010px"
                src="../static/assets/img/koala-1010x1010.png" alt="Koala Doll">
                <div class="text-size14">
    <pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">img</span> <span class="tag-attr">srcset</span>=<span class="attr-value">"assets/img/koala-100x100.jpg 100w,
             assets/img/koala-500x500.jpg 500w,
             assets/img/koala-1010x1010.jpg 1010w"</span>
    <span class="tag-attr">sizes</span>=<span class="attr-value">"(max-width: 28em) 100px,
            (max-width: 75em) 500px,
            1010px"</span>
    <span class="tag-attr">src</span>=<span class="attr-value">"assets/img/koala-100x100.jpg"</span> <span class="tag-attr">alt</span>=<span class="attr-value">"Koala Doll"</span>&gt;</span></code></pre>
                </div>
            </div>
            <hr>

            <div class="mb-24">
                <h2 class="text-suitmedia font-heading">Responsive Image (Picture Tag)</h2>
                <picture>
                    <source media="(min-width: 64em)" :srcset="require('../static/assets/img/koala-1200x754.jpg')">
                    <source media="(min-width: 28em)" :srcset="require('../static/assets/img/koala-600x377.jpg')">
                    <img src="../static/assets/img/koala-290x290.jpg" alt="Mother and baby koala">
                </picture>
                <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">picture</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">source</span> <span class="tag-attr">media</span>=<span class="attr-value">"(min-width: 64em)"</span> <span class="tag-attr">srcset</span>=<span class="attr-value">"assets/img/koala-1200x754.jpg"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">source</span> <span class="tag-attr">media</span>=<span class="attr-value">"(min-width: 28em)"</span> <span class="tag-attr">srcset</span>=<span class="attr-value">"assets/img/koala-600x377.jpg"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">img</span> <span class="tag-attr">src</span>=<span class="attr-value">"assets/img/koala-290x290.jpg"</span> <span class="tag-attr">alt</span>=<span class="attr-value">"Mother and baby koala"</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">picture</span>&gt;</span></code></pre>
                </div>
            </div>

            <hr>

            <div class="mb-24">
                <h2 class="text-suitmedia font-heading">Lazy loading</h2>
                <!-- 1-10 -->
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
                <img class="js-lazyload mb-4" src="http://lorempixel.com/80/100" data-src="http://lorempixel.com/80/100" loading="lazy" width="80" height="100">
            
                <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">img</span> <span class="tag-attr">class</span>=<span class="attr-value">"js-lazyload mb-4"</span>
     <span class="tag-attr">src</span>=<span class="attr-value">"data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="</span>
     <span class="tag-attr">data-src</span>=<span class="attr-value">"http://lorempixel.com/80/100"</span>
     <span class="tag-attr">width</span>=<span class="attr-value">"80"</span> <span class="tag-attr">height</span>=<span class="attr-value">"100"</span>&gt;</span></code></pre>
                </div>
            </div>

            <hr>
        </div>
    </main>
</template>

<script>
export default {
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Responsive Image',
				description: 'Responsive Image Page'
			}
		})
	}
}
</script>