<template>
    <main class="site-main">
        <div class="container">
            <div class="mb-24">
                <h2 class="text-suitmedia font-heading">Table</h2>
                <div class="table-wrapper">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Header 1</th>
                                <th>Header 2</th>
                                <th>Header 3</th>
                                <th>Header 4</th>
                                <th>Header 5</th>
                                <th>Header 6</th>
                                <th>Header 7</th>
                                <th>Header 8</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Row 2 Col 1</td>
                                <td>Row 2 Col 2</td>
                                <td>Row 2 Col 3</td>
                                <td>Row 2 Col 4</td>
                                <td>Row 2 Col 5</td>
                                <td>Row 2 Col 6</td>
                                <td>Row 2 Col 7</td>
                                <td>Row 2 Col 8</td>
                            </tr>
                            <tr>
                                <td>Row 3 Col 1</td>
                                <td>Row 3 Col 2</td>
                                <td>Row 3 Col 3</td>
                                <td>Row 3 Col 4</td>
                                <td>Row 3 Col 5</td>
                                <td>Row 3 Col 6</td>
                                <td>Row 3 Col 7</td>
                                <td>Row 3 Col 8</td>
                            </tr>
                            <tr>
                                <td>Change</td>
                                <td>Window</td>
                                <td>size</td>
                                <td>to see</td>
                                <td>Table</td>
                                <td>Wrapper</td>
                                <td>in</td>
                                <td>action!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">div</span> <span class="html-attr">class</span>=<span class="attr-value">"table-wrapper"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">table</span> <span class="html-attr">class</span>=<span class="attr-value">"table"</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">thead</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">tr</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">th</span>&gt;</span>Header 1<span class="html-tag">&lt;/<span class="tag-name">th</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">th</span>&gt;</span>Header 2<span class="html-tag">&lt;/<span class="tag-name">th</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">th</span>&gt;</span>Header 3<span class="html-tag">&lt;/<span class="tag-name">th</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">th</span>&gt;</span>Header 4<span class="html-tag">&lt;/<span class="tag-name">th</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">th</span>&gt;</span>Header 5<span class="html-tag">&lt;/<span class="tag-name">th</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">th</span>&gt;</span>Header 6<span class="html-tag">&lt;/<span class="tag-name">th</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">th</span>&gt;</span>Header 7<span class="html-tag">&lt;/<span class="tag-name">th</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">th</span>&gt;</span>Header 8<span class="html-tag">&lt;/<span class="tag-name">th</span>&gt;</span>
            <span class="html-tag">&lt;/<span class="tag-name">tr</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">thead</span>&gt;</span>
        <span class="html-tag">&lt;<span class="tag-name">tbody</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">tr</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Row 2 Col 1<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Row 2 Col 2<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Row 2 Col 3<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Row 2 Col 4<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Row 2 Col 5<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Row 2 Col 6<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Row 2 Col 7<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Row 2 Col 8<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
            <span class="html-tag">&lt;/<span class="tag-name">tr</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">tr</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Row 3 Col 1<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Row 3 Col 2<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Row 3 Col 3<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Row 3 Col 4<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Row 3 Col 5<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Row 3 Col 6<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Row 3 Col 7<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Row 3 Col 8<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
            <span class="html-tag">&lt;/<span class="tag-name">tr</span>&gt;</span>
            <span class="html-tag">&lt;<span class="tag-name">tr</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Change<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Window<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>size<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>to see<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Table<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>Wrapper<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>in<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
                <span class="html-tag">&lt;<span class="tag-name">td</span>&gt;</span>action!<span class="html-tag">&lt;/<span class="tag-name">td</span>&gt;</span>
            <span class="html-tag">&lt;/<span class="tag-name">tr</span>&gt;</span>
        <span class="html-tag">&lt;/<span class="tag-name">tbody</span>&gt;</span>
    <span class="html-tag">&lt;/<span class="tag-name">table</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span></code></pre>
                </div>
            </div>
            <hr>
        </div>
    </main>
</template>

<script>
export default {
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Table',
				description: 'Table Page'
			}
		})
	}
}
</script>
