<template>
    <main class="site-main">
        <div class="container">
            <div class="mb-24">
                <h2 class="text-suitmedia font-heading">Tabs</h2>
                <ul class="tabs__bar js-tabs">
                    <li class="tabs__nav js-tabs-link is-active" data-control="#item1" @click="openTab($event, 'default')">TAB 1</li>
                    <li class="tabs__nav js-tabs-link" data-control="#item2" @click="openTab($event, 'default')">TAB 2</li>
                    <li class="tabs__nav js-tabs-link" data-control="#item3" @click="openTab($event, 'default')">TAB 3</li>
                    <li class="tabs__nav js-tabs-link" data-control="#item4" @click="openTab($event, 'default')">TAB 4</li>
                </ul>
                <div class="tabs__content">
                    <div id="item1" class="tabs__item js-tabs-item is-active">
                        Item 1
                    </div>
                    <div id="item2" class="tabs__item js-tabs-item">
                        Item 2
                    </div>
                    <div id="item3" class="tabs__item js-tabs-item">
                        Item 3
                    </div>
                    <div id="item4" class="tabs__item js-tabs-item">
                        Item 4
                    </div>
                </div>
                <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">ul</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__bar js-tabs"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__nav js-tabs-link is-active"</span> <span class="tag-attr">data-control</span>=<span class="attr-value">"#item1"</span>&gt;</span>TAB 1<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__nav js-tabs-link"</span> <span class="tag-attr">data-control</span>=<span class="attr-value">"#item2"</span>&gt;</span>TAB 2<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__nav js-tabs-link"</span> <span class="tag-attr">data-control</span>=<span class="attr-value">"#item3"</span>&gt;</span>TAB 3<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__nav js-tabs-link"</span> <span class="tag-attr">data-control</span>=<span class="attr-value">"#item4"</span>&gt;</span>TAB 4<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">ul</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__content"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__item js-tabs-item is-active"</span> <span class="tag-attr">id</span>=<span class="attr-value">"item1"</span>&gt;</span>
        Item 1
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__item js-tabs-item"</span> <span class="tag-attr">id</span>=<span class="attr-value">"item2"</span>&gt;</span>
        Item 2
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__item js-tabs-item"</span> <span class="tag-attr">id</span>=<span class="attr-value">"item3"</span>&gt;</span>
        Item 3
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__item js-tabs-item"</span> <span class="tag-attr">id</span>=<span class="attr-value">"item4"</span>&gt;</span>
        Item 4
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span></code></pre>
                </div>
            </div>

            <div class="mb-24">
                <h2 class="text-suitmedia font-heading">Justified Tabs</h2>
                <ul class="tabs__bar--justify js-tabs">
                    <li class="tabs__nav js-tabs-link is-active" data-control="#justified1" @click="openTab($event, 'justifyTab')">TAB 1</li>
                    <li class="tabs__nav js-tabs-link" data-control="#justified2" @click="openTab($event, 'justifyTab')">TAB 2</li>
                    <li class="tabs__nav js-tabs-link" data-control="#justified3" @click="openTab($event, 'justifyTab')">TAB 3</li>
                    <li class="tabs__nav js-tabs-link" data-control="#justified4" @click="openTab($event, 'justifyTab')">TAB 4</li>
                </ul>
                <div class="tabs__content">
                    <div id="justified1" class="tabs__item js-tabs-item is-active">
                        Item 1
                    </div>
                    <div id="justified2" class="tabs__item js-tabs-item">
                        Item 2
                    </div>
                    <div  id="justified3" class="tabs__item js-tabs-item">
                        Item 3
                    </div>
                    <div id="justified4" class="tabs__item js-tabs-item">
                        Item 4
                    </div>
                </div>
                <div class="text-size14">
<pre><code class="html hljs xml"><span class="html-tag">&lt;<span class="tag-name">ul</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__bar--justify js-tabs"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__nav js-tabs-link is-active"</span> <span class="tag-attr">data-control</span>=<span class="attr-value">"#justified1"</span>&gt;</span>TAB 1<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__nav js-tabs-link"</span> <span class="tag-attr">data-control</span>=<span class="attr-value">"#justified2"</span>&gt;</span>TAB 2<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__nav js-tabs-link"</span> <span class="tag-attr">data-control</span>=<span class="attr-value">"#justified3"</span>&gt;</span>TAB 3<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">li</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__nav js-tabs-link"</span> <span class="tag-attr">data-control</span>=<span class="attr-value">"#justified4"</span>&gt;</span>TAB 4<span class="html-tag">&lt;/<span class="tag-name">li</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">ul</span>&gt;</span>
<span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__content"</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__item js-tabs-item is-active"</span> <span class="tag-attr">id</span>=<span class="attr-value">"justified1"</span>&gt;</span>
        Item 1
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__item js-tabs-item"</span> <span class="tag-attr">id</span>=<span class="attr-value">"justified2"</span>&gt;</span>
        Item 2
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__item js-tabs-item"</span> <span class="tag-attr">id</span>=<span class="attr-value">"justified3"</span>&gt;</span>
        Item 3
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
    <span class="html-tag">&lt;<span class="tag-name">div</span> <span class="tag-attr">class</span>=<span class="attr-value">"tabs__item js-tabs-item"</span> <span class="tag-attr">id</span>=<span class="attr-value">"justified4"</span>&gt;</span>
        Item 4
    <span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span>
<span class="html-tag">&lt;/<span class="tag-name">div</span>&gt;</span></code></pre>
                </div>
            </div>
            <hr>
        </div>
    </main>
</template>

<script>
export default {
    data() {
        return {
            activeTab: "item1",
            activeTabJustify: "justified1"
        }
    },
    jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Tabs',
				description: 'Tabs Page'
			}
		})
	},
    methods: {
        openTab(event, tabType) {
            if (tabType === 'default') {
                document.querySelectorAll(`[data-control="#${this.activeTab}"]`)[0].classList.remove('is-active');
                document.getElementById(this.activeTab).classList.remove('is-active');
                this.activeTab = event.target.dataset.control.substring(1);
                document.querySelectorAll(`[data-control="#${this.activeTab}"]`)[0].classList.add('is-active');
                document.getElementById(this.activeTab).classList.add("is-active");
            } else if (tabType === 'justifyTab') {
                document.querySelectorAll(`[data-control="#${this.activeTabJustify}"]`)[0].classList.remove('is-active');
                document.getElementById(this.activeTabJustify).classList.remove('is-active');
                this.activeTabJustify = event.target.dataset.control.substring(1);
                document.querySelectorAll(`[data-control="#${this.activeTabJustify}"]`)[0].classList.add('is-active');
                document.getElementById(this.activeTabJustify).classList.add("is-active");
            }
        }
    }
}
</script>